@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; font-size: 14px; color: #333; outline: none; font-family: "Microsoft Yahei"; box-sizing: border-box; }
body,th,td,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";font-size:12px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}
ul li { list-style: none; }
a:hover { text-decoration: none; }
/*首页*/
.wx_bg { width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,0.5); z-index: 10; position: fixed; }
.wx_popup { width: 100%; height: 70%; top: 30%; left: 0; background: #FFF; z-index: 11; position: fixed; }
.wx_warp { width: 100%; margin: 0 auto; }
.wx_01 { width: 100%; padding: 10px 15px; border-bottom: 1px solid #ddd; float: left; }
.wx_01 .t1 { width: 10%; text-align: left; font-size: 24px; color: #999; height: 20px; line-height: 20px; float: left; }
.wx_01 .t2 { width: 80%; text-align: center; font-size: 16px; font-weight: bold; height: 20px; line-height: 20px; float: left; }
.wx_01 .t3 { width: 10%; text-align: right; font-size: 30px; color: #999; height: 20px; line-height: 16px; float: left; }
.wx_02 { width: 100%; padding: 30px 15px; float: left; }
.wx_02 table { width: 100%; height: 38px; line-height: 38px; text-align: center; border: 1px solid #ccc; border-collapse: collapse; border-radius: 3px; float: left; }
.wx_02 table tr td { border: 1px solid #ccc; font-size: 20px; }
.wx_03 { width: 100%; left: 0; bottom: 0; position: fixed; }
.wx_03 ul { width: 100%; float: left; }
.wx_03 ul li { width: 33.3%; height: 40px; line-height: 40px; font-size: 20px; border-top: 1px solid #bababa; text-align: center; float: left; }
.wx_03 ul li:nth-child(3n+2) { border-left: 1px solid #bababa; border-right: 1px solid #bababa; }
.wx_03 ul li:nth-child(10), .wx_03 ul li:nth-child(12) { background: #ddd; }
.wx_04 { width: 100%; float: left; }
.wx_04 ul { width: 100%; padding-left: 15px; float: left; }
.wx_04 ul li { width: 100%; padding: 15px 0; border-bottom: 1px solid #ddd; float: left; }
.wx_04 ul li label { padding-left: 30px; height: 20px; line-height: 20px; float: left; }
.wx_04 ul li label.bank_icon { background: url(../images/bank_icon.png) no-repeat left center; background-size: 20px; }
.wx_04 ul li label.account_icon { background: url(../images/account_icon.png) no-repeat left center; background-size: 20px; }
.wx_04 ul li label.card_icon { background: url(../images/card_icon.png) no-repeat left center; background-size: 20px; }
.wx_04 ul li span { padding-right: 15px; height: 20px; line-height: 20px; font-size: 20px; color: #2e90de; font-weight: bold; font-family: cursive; display: none; float: right; }
.wx_04 ul li.actived span { display: block; }
.wx_05 { width: 100%; float: left; }
.wx_05 ul { width: 100%; padding: 30px; float: left; }
.wx_05 ul li { width: 100%; margin: 5px 0; float: left; }
.wx_05 ul li label { width: 15%; font-size: 16px; height: 40px; line-height: 40px; float: left; }
.wx_05 ul li input { width: 85%; padding: 0 10px; height: 40px; line-height: 40px; border: 1px solid #ccc; float: left; }
.wx_05 ul li span { width: 85%; padding: 0 10px; font-size: 16px; height: 40px; line-height: 40px; float: left; }
.wx_06{ width:100%; padding:15px; left:0; bottom:0; position:fixed;}
.wx_06 span{ width:100%; height:40px; line-height:40px; text-align:center; border-radius:5px; font-size:16px; color:#FFF; background:#00aaee; float:left;}

.wx_07 { width: 100%; float: left; }
.wx_07 p{ width: 100%; padding:20px 0; font-size:30px; line-height:30px; text-align:center; float: left; }
.wx_07 ul { width: 100%; padding-left: 15px; float: left; }
.wx_07 ul li { width: 100%; padding: 10px 15px 10px 0; border-bottom: 1px solid #ddd; float: left; }
.wx_07 ul li label { height: 20px; line-height: 20px; color:#666; float: left; }
.wx_07 ul li span{ height: 20px; line-height: 20px; float: right; }
.wx_07 ul li select{ border:0;appearance: none; -webkit-appearance: none; float:right;}

